body {
  margin: 0;
  font-family: Comic Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C5C2C6;
}

@import url('https://fonts.googleapis.com/css?family=Comic+Neue');
h2 {
  font-size: 36px;
}

h1 {
  font-family: 'Georgia';
  font-weight: normal;
  font-size: 64px;
}

/* home */
.home {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
}

.welcome {
  margin: 0;
  align-self: end;
}

.title {
  margin: 0;
  text-align: center;
}

.home-btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  height: 2rem;
}

.home-btn {
  font-family: "Comic Neue";
  width: 4rem;
}

.home-btn:hover, .join-room-btn:hover {
  box-shadow: -3px 2px 5px #808080;
}


/* HomeNav */

.homeNav-container {
  display: flex;
  align-items: center;
}

.homeNav-logo {
  height: 6rem;
}

.homeNav-title {
  font-size: 46px;
}

/* Forms */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-input {
  height: 1.3rem;
}

.round-btn {
  border-radius: 48%;
  width: 8rem;
  height: 3rem;
}

/* Join */

.join-img {
  width: 40%;
}

.join-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.join-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20%;
  align-items: center;

  margin: 2rem;
  font-size: 1.3rem;
}

.join-room-btn {
  background-color: #009dff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  /* z-index: 2; */
}



/* WikipediaContent */

.replaced-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}